@keyframes titleanim {
    from {font-size: 200%;}
    to {font-size: 250%;}
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 200%;

    animation-name: titleanim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

h1:hover {
    transform: scale(1.1, 1.1);
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;


    background-color: coral; 
    background-image: url(https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcQ6QbvIXTTK3ZYzy9ZJlSpe7yg4MpFyyRR4OSt43_3wqlkVk6xjfUFS_ZiDGgMjMW3M4WAEX077-viUEkc);
    font-size: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
}

.highlight {
    display: inline-block;
    padding: .25em 0;
    background: #684200;
    color: coral;
}

a {
    color: brown;
}

a:hover {
    color: blue;
}